<h1>Users</h1>
<p *ngIf="!users">Loading..</p>
<div class="list-group" *ngIf="users"> 
    <a href="#" class="list-group-item" *ngFor="let user of users" (click)="editUser(user, $event)">
        <h4 *ngIf="editing !== user" class="list-group-item-heading">{{ user.name }}</h4>
        <input *ngIf="editing === user" [(ngModel)]="user.name" name="inputStatus" class="form-control" id="inputStatus">
        <p *ngIf="editing !== user" class="list-group-item-text">{{ user.email }}</p>
        <input *ngIf="editing === user" [(ngModel)]="user.email" name="inputStatus" class="form-control" id="inputStatus" style="margin-top:10px;">
        <button *ngIf="editing === user" class="btn btn-primary" (click)="save(user)" style="margin-top:10px;">Save</button>
        <button *ngIf="editing === user" class="btn btn-danger" (click)="delete(user)" style="margin-top:10px;">Delete</button>
    </a> 
</div>