<h1>Dashboard</h1>
<p *ngIf="!bugs">Loading..</p>
<table class='table' *ngIf="bugs">
    <thead>
        <tr>
            <th>Title</th>
            <th>Assignee</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bug of bugs" (mouseenter)="showOptions(bug)" (mouseleave)="hideOptions(bug)">
            <td><a [routerLink]="'/detail/' + bug.id">{{ bug.title }}</a></td>
            <td>{{ bug.assignee?.name }}</td>
            <td>{{ bug.status.name }}</td>
            <td>
                <div [style.visibility]="hoveringBug === bug ? 'visible' : 'hidden'">
                    <a [routerLink]="'/detail/' + bug.id" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <button (click)="delete(bug)" class="btn btn-default" style="margin-left:5px;">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>