<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">BugTracker</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/users']">
                        <span class='glyphicon glyphicon-user'></span> Users
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class='glyphicon glyphicon-plus'></span> Create <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/create/bug']">Bug</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Quick create</li>
                        <li><a (click)="openQuickCreate('user')">User</a></li>
                        <li><a (click)="openQuickCreate('status')">Status</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/swagger">
                        <span class='glyphicon glyphicon-book'></span> API Docs
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel panel-default" *ngIf="quickCreateStatus" style="margin-top:50px;">
            <div class="panel-heading">
                <h3 class="panel-title">Quick create: status</h3>
            </div>
            <div class="panel-body">
                <input [(ngModel)]="status.name" name="inputStatus" class="form-control" id="inputStatus" placeholder="Enter status name..">
                <button class="btn btn-primary" (click)="saveStatus()" style="margin-top:10px;">Save</button>
                <button class="btn btn-default" (click)="closeQuickCreate()" style="margin-top:10px;">Cancel</button>
            </div>
        </div>
        <div class="panel panel-default" *ngIf="quickCreateUser" style="margin-top:50px;">
            <div class="panel-heading">
                <h3 class="panel-title">Quick create: user</h3>
            </div>
            <div class="panel-body">
                <input [(ngModel)]="user.name" name="inputStatus" class="form-control" id="inputStatus" placeholder="Enter name..">
                <input [(ngModel)]="user.email" name="inputStatus" class="form-control" id="inputStatus" placeholder="Enter email.." style="margin-top:10px;">
                <button class="btn btn-primary" (click)="saveUser()" style="margin-top:10px;">Save</button>
                <button class="btn btn-default" (click)="closeQuickCreate()" style="margin-top:10px;">Cancel</button>
            </div>
        </div>
    </div>
</div>
