<h1>Detail</h1>
<div class="panel panel-default" *ngIf="bug">
    <div class="panel-heading" (click)="edit('title', $event)">
        <b *ngIf="editing !== 'title'">{{ bug.title }}</b>
        <input *ngIf="editing === 'title'" [(ngModel)]="bug.title" name="inputTitle" class="form-control" id="inputTitle">
    </div>
    <div class="panel-body" (click)="edit('description', $event)">
        <p *ngIf="editing !== 'description'">{{ bug.description }}</p>
        <input *ngIf="editing === 'description'" [(ngModel)]="bug.description" name="inputDescription" class="form-control" id="inputDescription">
    </div>
    <ul class="list-group">
        <li class="list-group-item" (click)="edit('status', $event)">
            <span *ngIf="editing !== 'status'"><b>Status: </b>{{ bug.status?.name }}</span>
            <div *ngIf="editing === 'status' && statuses">
                <b>Status: </b>
                <label class="radio-inline" *ngFor="let status of statuses" style="margin-left:10px;">
                    <input (click)="updateStatus(status)"
                           [checked]="bug.statusId === status.id"
                           [value]="status.id"
                           type="radio" name="statusRadios"> {{ status.name }}
                </label>
            </div>
        </li>

        <li class="list-group-item" (click)="edit('assignee', $event)">
            <span *ngIf="!assigneeEdited">
                <b>Assignee: </b>{{ getAssigneeName() }}
            </span>
            <div *ngIf="assigneeEdited">
                <select class="form-control" 
                        id="inputAssignee" 
                        *ngIf="users" 
                        [(ngModel)]="bug.assigneeId"
                        name="inputAssignee">
                    <option *ngFor="let user of users" 
                            [value]="user.id"
                            (click)="updateAssignee(user)">{{ user.name }}</option>
                </select>
            </div>
        </li>
        <li class="list-group-item">
            <b>Created: </b>{{ bug.created | date : "d/M/yy h:mm a" }}
        </li>
    </ul>
</div>

<button class="btn btn-primary" *ngIf="edited" (click)="save(bug)">Save</button>