<h1>Create bug</h1>
<form class="form-horizontal" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input [(ngModel)]="model.title" name="inputTitle" class="form-control" id="inputTitle" placeholder="Enter title..">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea [(ngModel)]="model.description" name="inputDescription" class="form-control" rows="3" id="inputDescription" placeholder="Enter description.."></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputStatus" class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10" *ngIf="statuses">
            <label class="radio-inline" *ngFor="let status of statuses">
                <input [(ngModel)]="model.statusId" type="radio" name="statusRadios" [value]="status.id"> {{ status.name }}
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAssignee" class="col-sm-2 control-label">Assignee</label>
        <div class="col-sm-10">
            <select class="form-control" id="inputAssignee" *ngIf="users" [(ngModel)]="model.assigneeId" name="inputAssignee">
                <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>